body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.landing-page {
    background: url('https://wallpaperaccess.com/full/3339412.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: absolute;
    top: 0;
    /* z-index: 1;  */
}

.site-name {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff7e5f;
}

.hero {
    text-align: center;
    margin: auto;
    padding: 40px 60px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
}

.hero-text {
    font-size: 56px;
    margin-bottom: 20px;
    color: whitesmoke
}

.hero-subtext {
    font-size: 28px;
    margin-bottom: 40px;
}

.cta-button {
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}
